<link rel="stylesheet" type="text/css" href="../utils/bootstrap.min.css">
<style type="text/css">
	.formholder{
		height: 550px;
		margin-left: 650px;
		opacity: 0.9;
		margin-top: 20px;
		background-color: rgb(0, 0, 0.3);
		box-shadow: 0px 0px 10px 0px black;
		border-radius: 9px;

	}
	label{
		font-size: 20px;
		font-weight: bold;
		color: navajowhite;
	}

</style>


<div class="container-fluid">
	<div class="row bg-dark">
		<div class="col-md-12 bg-secondary" style="height: 10vh; ">
			<h1 style="color:white; margin-left: 400px; font-family: Century Gothic; ">WELCOME TO THE PARTY TICKET SYSTEM</h1>
		</div>
	</div>

	<div class="row bg-light" style="height: 90vh; background-image: url(../images/7.jpg); background-size: cover;">
		<div class="col-md-4 bg-secondary formholder">
			<h1 align="center" class="col-md-11" style=" margin-left: 20px; color: whitesmoke; font-size: 28px;">Create Acount</h1>
			<form class="form col-md-11" style="margin-left: 20px; background-color: rgba(1, 2, 0.1);">
				
				<label>E-mail</label><input type="email" class="form-control" required="required" name="" placeholder="Your valid Email">
				<label>Chose Username</label><input type="Password" class="form-control" required="required" name="" placeholder="Your Username"><br><label>Password</label><input type="Password" class="form-control" required="required" name="" placeholder="Your Password"><br>
				<label>Confirm Password</label><input type="Password" class="form-control" required="required" name="" placeholder="Your Password Again "><br><br>
				<button class="btn btn-outline-light btn-secondary" type="reset">Cuncel</button>
				<button class="btn btn-outline-light btn-secondary" style="margin-left: 10px;" type="submit" onclick="window.location.href='../index.html'"> Create </button> <i style="color:white;"> &nbsp; &nbsp; &nbsp; have Acount</i> 
				<a href="Create.html" class="link" style="color: deepskyblue; align-items: center; text-decoration: underline;">  &nbsp;Sign in </a>

			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
